<div class="row">
    <div class="col s12 ">
        <div class="card blue-grey darken-2 ">
            <h2 class="center-align white-text">Панель обновления баз данных</h2>
        </div>
    </div>
</div>
<div class="row update">
    <div class="col s6 offset-s3">
        <div class="card blue-grey darken-2 center-align update-base">
            <div class="card-content white-text">
                <button class="btn-large  waves-effect waves-light tooltipped" id="update-mzk" data-title="МЗК"
                    data-update="mzk" data-position="right" data-tooltip="Обновить базу МЗК">Межзаводская
                    кооперация</button>
            </div>

                <div class="card-content white-text">
                    <button class="btn-large  waves-effect waves-light tooltipped" id="update-lit" data-title="ЛМ"
                        data-update="lit" data-position="right" data-tooltip="Обновить базу ЛМ">Литейные
                        мощности</button>
                </div>

        </div>
    </div>
</div>